.DS_Store
*.pem
.vscode
*.zip
node_modules
env.sh
events*.json
secret-*
private-*
__pycache__
nodejs
python
*-func.json
.env
output*.json
*-output.json
*-logs.json
from-*.yaml
from-*.md
AWS-Certified-Solutions-Architect-Professional-Slides-v36.pdf
